<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicons -->
    <link href="img/logo.png" rel="icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/bootstrap-fileinput/fileinput.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" crossorigin="anonymous">
    <link href="css/bootstrap-fileinput/themes/explorer-fas/theme.css" rel="stylesheet">

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-fileinput/fileinput.js"></script>
    <script src="js/bootstrap-fileinput/themes/fas/theme.js"></script>
    <script src="js/bootstrap-fileinput/themes/explorer-fas/theme.js"></script>
    <script src="js/bootstrap-fileinput/locales/zh.js"></script>
    <script src="js/bootstrap-paginator.js"></script>
    <script src="js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <title>首页</title>
    <script>
        $(function(){
            var uploaded = false;
            var value = 0;
            var time = 100;
            var st = null;

//            $("#table").bootstrapTable({
//                url: '',
//                method: 'POST',
//                cache: false,
//                pagination: true,
//                sidePagination: "client", //server
//                pageNumber: 1, //初始化加载第一页
//                pageSize: 5, //每页的记录行数
//                pageList: [5, 10, 25, 50], //可供选择的每页的行数
//                search: false, //是否显示表格搜索
//                showColumns: true, //是否显示所有的列（选择显示的列）
//                showRefresh: true, //是否显示刷新按钮
//                uniqueId: "id",  //每一行的唯一标识，一般为主键列
//                showToggle: true,  //是否显示详细视图和列表视图的切换按钮
//                cardView: false,  //是否显示详细视图
//                detailView: false, //是否显示父子表
//                queryParams: function queryParams(params) { //设自定义查询参数
//                    var params = {
//                        limit: params.limit,   //页面大小
//                        offset: params.offset,  //页码
//                    };
//                    return params;
//                },
//                columns:[{},{},{},{}],
//                onLoadSuccess: function () {
//
//                },
//                onLoadError: function () {
//                    showTips("数据加载失败！");
//                }
//            });

            $(".progress").hide();
            $("#output_table").hide();

            $("#parseBtn").click(function () {
                if($('#text_pane').hasClass('active')){
                    text_parse();
                }else if($('#file_pane').hasClass('active')){
                    file_parse();
                }
            });

            function setPage(pageCurrent, pageSum) {
                var options = {
                    bootstrapMajorVersion: 4, //对应的bootstrap版本
                    currentPage: pageCurrent, //当前页数
                    numberOfPages: 5, //最多显示的页码数
                    totalPages: pageSum, //所有数据能分的总页数
                    alignment: "center",
                    shouldShowPage: true, //是否显示该按钮
                    useBootstrapTooltip: true,
                    tooltipTitles: function (type, page) {
                        switch (type) {
                            case "first" :
                                return "第一页";
                            case "prev" :
                                return "上一页";
                            case "next" :
                                return "下一页";
                            case "last" :
                                return "最后一页";
                            case "page" :
                                return page;
                        }
                        return "";
                    },
                    onPageClicked: function (event, originalEvent, type, page) {
                        $.post("/fetch_page", {curPage: page}, function (data, status) {
                            if (status == 'success' && data.statusCode == 400) {
                                fill_table(data.respData.pageData);
                            }
                        });
                    }
                };
                $("#myPaginator").bootstrapPaginator(options);
            }

            function skip(pageNo){ //跳转到指定页
                $("#myPaginator").bootstrapPaginator("show", pageNo);
            }

            $("#uploadFile").fileinput({ //初始化上传控件
                language: 'zh',
                uploadUrl: '/file_upload',
                uploadAsync: true,
                enctype: 'multipart/form-data',
                allowedFileExtensions: ['txt'],
                textEncoding: 'utf-8',
                maxFileCount: 1,
                minFileCount: 1,
                maxFileSize: 100, //单位KB
                minFileSize: 1
            }).on("fileclear", function(event, data, msg){
                $.post("/clear_file");
                uploaded = false;
            }).on("fileuploaded", function(event, data, previewId, index) {
                uploaded = true;
            });

            function increment(){
                value += 1;
                if(value>100 || (uploaded==false && value==99)){
                    clearTimeout(st);
                    return;
                }

                $("#prog").css("width", value+"%").text(value+"%");
                st = setTimeout(increment, time);
            }


            function prompt(title, msg){
                $(".modal-title").text(title);
                $(".modal-body").text(msg);
                $("#myModal").modal();
            }

            function fill_table(datalist){
                $("#t_body").empty(); //移除子元素
                $.each(datalist, function(i, item){
                    var row = "<tr>" +
                            "<td>"+item.id+"</td>" +
                            "<td>"+item.content+"</td>" +
                            "<td>"+item.emotion+"</td>" +
                            "<td><img src='"+item.imgUrl+"' alt='表情图' style='width: 40px;'>" +
                            "</td>" +
                            "</tr>";
                    $("#t_body").append(row);
                });
            }

            function text_parse(){
                var remark = $.trim($("#remarks").val());
                if (remark == null || remark == ''){
                    prompt('Warn', '评论内容不能为空！');
                    return;
                }
                $.ajax({
                    url: "/text_parse",
                    type: "POST",
                    data: {"remarks": remark},
                    dataType: "json",
                    beforeSend: function () {
                        $("#parseBtn").html('请稍等...');
                        $("#parseBtn").attr("disabled", "disabled");
                        $(".progress").show();
                        increment();
                    },
                    success: function(data, status) {
                        if (data.statusCode == 400){
                            var totalPages = data.respData.totalPages;
                            if(totalPages > 1){
                                $("#myPaginator").show();
                            }
                            setPage(1, totalPages);
                            fill_table(data.respData.pageData);

                            $("#output_table").show();
                        }else{
                            prompt('Error', '解析过程出现错误！');
                        }

//                    $("#emotion_img").attr("src", img_arr[data.result]);
//                    $("#result").slideDown(3000)
//                    $("#emotion_img").fadeIn(3000); //毫秒
//                    $("#emotion_img").show();
                    },
                    error: function() {
                        prompt('Error', '解析过程出现错误！');
                    },
                    complete: function () {
                        $("#prog").css("width", "100%").text("100%");
                        setTimeout(function(){}, 300); //暂停0.3秒
                        $(".progress").hide();

                        $("#parseBtn").removeAttr("disabled");
                        $("#parseBtn").html('<i class="fas fa-arrow-down"></i>分 析<i class="fas fa-arrow-down"></i>');
                    }
                });
            }

            function file_parse(){
                if(uploaded == false){
//                    alert($("#uploadFile").prop('files').length);
                    prompt('Info', '请上传文件！');
                    return;
                }
                //方式1：
//                var files = $("#uploadFile").prop('files');
//                var file_data = new FormData();
//                file_data.append('file', files[0]);
                //方式2：
//                var file_data = new FormData($('#fileForm')[0]);
                $.ajax({
                    url: "/file_parse",
                    type: "POST",
                    cache: false,
//                    data: file_data,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    beforeSend: function(){  //防止重复提交，提高用户体验
                        uploaded = false;
                        $("#parseBtn").html('请稍等...');
                        $("#parseBtn").attr("disabled", "disabled");
                        $(".progress").show();
                        increment();
                    },
                    success: function(data){
                        if (data.statusCode == 400){
                            var totalPages = data.respData.totalPages;
                            if(totalPages > 1){
                                $("#myPaginator").show();
                            }
                            setPage(1, totalPages);
                            fill_table(data.respData.pageData);

                            $("#output_table").show();
                        }else{
                            prompt('Warn', '你尚未上传文件！');
                        }
                    },
                    error: function(){
                        prompt('Error', '解析过程出现错误！');
                    },
                    complete: function(){
                        $("#prog").css("width", "100%").text("100%");
                        setTimeout(function(){}, 300); //暂停0.3秒
                        $(".progress").hide();

                        $("#parseBtn").removeAttr("disabled");
                        $("#parseBtn").html('<i class="fas fa-arrow-down"></i>分 析<i class="fas fa-arrow-down"></i>');
                    }
                });
            }
        });
    </script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/favicon.png" alt="Logo" style="width:30px;">
                    <span class="navbar-text">电商评论情感分析平台SAP</span>
                </a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">在线演示</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">在线文档</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">常见问题</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">下载</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Github</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/review">评论管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 100px;margin-bottom: 100px;">
        <div id="demo">
            <ul class="nav nav-tabs nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#text_pane"><i class="fas fa-font">文本输入</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#file_pane"><i class="fas fa-file-alt">文件上传</i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="text_pane" class="card tab-pane active">
                    <textarea name="content" id="remarks" rows="10" cols="30" placeholder="输入电商评论文本....." class="form-control"></textarea>
                </div>
                <div id="file_pane" class="card tab-pane fade">
                    <form id="fileForm" enctype="multipart/form-data">
                        <input type="file" class="file-loading" id="uploadFile" name="file" data-theme="fas" data-show-preview="true">
                    </form>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <button type="button" id="parseBtn" class="btn btn-primary btn-block"><i class="fas fa-arrow-down"></i>分 析<i class="fas fa-arrow-down"></i></button>
            </div>
            <div class="progress" style="margin-top: 20px;">
                <div id="prog" class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:0;"></div>
            </div>
            <div id="output_table" class="card" style="margin-top: 20px;">
                <div class="card-header">
                    <h6 align="center"><i class="fas fa-table">输出结果</i></h6>
                </div>
                <div class="card-body">
                    <a href="/file_download" class="btn btn-info btn-block"><i class="fas fa-download">保存到本地</i></a>
                    <table id="table" class="table table-hover table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>评论</th>
                                <th>极性</th>
                                <th>表情</th>
                            </tr>
                        </thead>
                        <tbody id="t_body"></tbody>
                    </table>
                    <div class="d-flex justify-content-center"><ul id="myPaginator"></ul></div>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--==========================
        Footer
      ============================-->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#">SAP</a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Features item</a></li>
                            <li><a href="#">Live streaming</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Features item</a></li>
                            <li><a href="#">Live streaming</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">

                        <h4>Support</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">faq</a></li>
                            <li><a href="#">Editor help</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="list-menu">

                        <h4>Abou Us</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Features item</a></li>
                            <li><a href="#">Live streaming</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="copyrights">
            <div class="container">
                <p>&copy; Copyrights SAP. All rights reserved.</p>
                <div class="credits">
                    Designed by 南昌大学软件学院吴林志
                </div>
                <p>(请使用IE9或更高版本的浏览器访问该系统)</p>
            </div>
        </div>
    </footer>
</body>
</html>
<!--<form th:action="@{/parse_remark}" th:object="${remark}" method="post">-->
<!--<textarea rows="10" cols="50" th:field="*{content}"></textarea>-->
<!--<button type="submit">解  析</button>-->
<!--<button type="reset">重  置</button>-->
<!--</form>-->